// 重置elelemnt ui 样式


// 折叠菜单时隐藏文字
.el-menu--collapse{

    .el-sub-menu,.el-menu-item{
      span,.el-sub-menu__icon-arrow{
        display: none;
      }
    }
  }
  .el-menu{
    width:100%;
  }
  //滚动条的宽度
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #e4e4e4;
  border-radius: 3px;
}
//滚动条的滑块
::-webkit-scrollbar-thumb {
  background-color: #a1a3a9;
  border-radius: 3px;
}