// 重置elelemnt ui 样式


// 折叠菜单时隐藏文字
.el-menu--collapse{

    .el-sub-menu,.el-menu-item{
      span,.el-sub-menu__icon-arrow{
        display: none;
      }
    }
  }
  .el-menu{
    width:100%;
  }
  //滚动条的宽度
::-webkit-scrollbar {
  width: 6px;
  height:6px;
  background-color: #e0e0e0;
  border-radius: 3px;
}
//滚动条的滑块
::-webkit-scrollbar-thumb {
  background-color: #f4f4f5;
  border-radius: 3px;
}
//表单

.el-form{
  .form-input {
    width:320px !important
  }
  .el-form-item{
    width: 100%;
  }
}

//抽屉
.el-drawer__header{
  padding-top:10px;
  margin-bottom:0;
  height:30px;
  line-height:30px;
}
.el-drawer__body{
  padding:10px
}