
  html.light {
    /* 自定义深色背景颜色 */
   
    /* 其他深色主题样式 */
    --el-menu-text-color:black;
    --el-menu-active-text-color:white;
    --el-text-color-regular:black;
    --el-bg-color:#fff;
    --el-bg-color-page:#fff;
    --el-menu-bg-color:#fff;
    --el-dialog-bg-color:#fff;
   
    --el-border-color:#efefef;
    --main-bg-color-page:#e5e6eb;
    
    --my-table-header-bg-color:#e9e9eb;
   
  }
 