/* form表单 */

.el-form {
  //.el-input, .el-input--small {
  //  width: 130px;
  //}
  .form-input {
    width: 130px;
  }
}
/*table表格*/
.my-table{
  .el-pagination{
    text-align: right;
    margin-top:16px;
  }
}
